.topnav {
    background-color:#3d6f77;
    overflow: hidden;
}
.topnav a {
    float: right;
    color: #cedbdd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.topnav a.name {
    float: left;
    color: #cedbdd;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
}
.topnav a:hover {
    background-color: #cedbdd;
    color: #3d6f77;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color:#cedbdd;
    color: #3d6f77;
}
.maintext {
   background-color:white;
   overflow: hidden;
   color:#093d47;
}
